.ipython/*/db/dhist
.ipython/*/dhist
.mypy_cache/
.oh-my-zsh/
Session.vim
__pycache__/
bat/cache/
history.sqlite
kitty-config/mastersecret
kube/cache/
vifm-config/vifminfo*
zsh_history

# secrets
gnupg/*
!gnupg/gpg.conf
!gnupg/gpg-agent.conf
