PyYAML
cairosvg
click
cookiecutter
gnureadline
ipykernel
ipython
jupyter
line_profiler==4.2.0
litellm[proxy]
mccabe
pdbpp
pre-commit
pre-commit-uv
pyfzf
pynvim
pytest
python-dotenv
python-lsp-server
ruff
ty
