black
cairosvg
click
cookiecutter
git+https://github.com/bretello/pdbpp.git@0.11.4
gnureadline
ipykernel
ipython
jupyter
line_profiler
mccabe
PyYAML
pre-commit
pre-commit-uv
pydocstyle
pyfzf
pylint
pylsp-mypy
pynvim
pytest
python-dotenv
python-lsp-black
python-lsp-server
ruff
types-Pygments
types-colorama
types-docutils
types-lxml
types-pytz
types-pyyaml
types-requests
types-setuptools
types-six
wheel
