*.log
*.pem
.env
__pycache__/
build/OpenJDK*
build/capella*tar*
build/er-keypass-db-er.kdbx
data/
dotfiles.main/
dotfiles/**/history.sqlite
dotfiles/.mypy_cache/
dotfiles/.oh-my-zsh/
dotfiles/Session.vim
dotfiles/__pycache__/
dotfiles/bat/cache/
dotfiles/claude/
dotfiles/github-copilot/apps.json
dotfiles/ipython/**/dhist
dotfiles/kube/cache/
dotfiles/nvim-config/lazy-lock.json
dotfiles/nvim-config/node_modules/
dotfiles/pip/pip.conf
dotfiles/vifm-config/vifminfo*
dotfiles/zsh_history

# secrets
secrets/*
!secrets/.gitkeep
dotfiles/gnupg/*
!dotfiles/gnupg/gpg.conf
!dotfiles/gnupg/gpg-agent.conf
!dotfiles/gnupg/pubring.kbx
